# Procesamiento de encuestas de Qualtrics

In [1]:
import pandas as pd
data = pd.read_csv('sample.csv')
data.columns = ['Educacion', 'Ocupacion', 'Personas', 'Ingreso1', 'Ingreso2', 'Ingreso3', 'Ingreso4', 'Ingreso5', 'Ingreso6', 'Ingreso7']
print(data.shape)
data.head()

(100, 10)

,Educacion,Ocupacion,Personas,Ingreso1,Ingreso2,Ingreso3,Ingreso4,Ingreso5,Ingreso6,Ingreso7
0,1.0,3.0,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,9.0,8.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN
2,7.0,6.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
3,4.0,7.0,4.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN
4,4.0,2.0,5.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN

In [2]:
# Procesamiento de la pregunta 4
P4 = data[['Ingreso1', 'Ingreso2', 'Ingreso3', 'Ingreso4', 'Ingreso5', 'Ingreso6', 'Ingreso7']]
P4 = P4.sum(axis=1)
P4 = pd.DataFrame(P4, columns=['Ingreso'])
P4.head()

   Ingreso
0      4.0
1      4.0
2      2.0
3      3.0
4      3.0

In [3]:
# Reemplazo de la pregunta 4
pdata = pd.concat([data[['Educacion', 'Ocupacion', 'Personas']], P4], axis=1)
pdata = pdata.astype(int)
pdata.head()

   Educacion  Ocupacion  Personas  Ingreso
0          1          3         3        4
1          9          8         2        4
2          7          6         4        2
3          4          7         4        3
4          4          2         5        3

In [4]:
# Codificación de los grupos socioeconómicos
gse = pd.read_csv('gse.csv')
gse = dict(zip(gse['codigo'], gse['gse']))
dict(list(gse.items())[0:5])

{111: 'E', 112: 'E', 113: 'D', 114: 'C3', 115: 'C3'}

In [5]:
# Se construye el código de GSE y se clasifica el encuestado según diccionario 
pdata['GSE'] = pdata['Educacion'].astype(str) + pdata['Ocupacion'].astype(str) + pdata['Ingreso'].astype(str)
pdata['GSE'] = pdata['GSE'].astype(int).replace(gse)
pdata.head()

   Educacion  Ocupacion  Personas  Ingreso   GSE
0          1          3         3        4    C3
1          9          8         2        4  ABC1
2          7          6         4        2     D
3          4          7         4        3    C3
4          4          2         5        3     D